@import
url(https://fonts.googleapis.com/css?family=Lato:300|Raleway:300)

body {

}

.banner {
	height: 380px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	font-family: 'Lato', sans-serif; 
	font-size: 5em;
	color: #000;
	line-height: 3em;
	font-weight: 300;
	background: url("images/banner.jpg") no-repeat center center fixed;
	text-transform: uppercase;
	background-size: cover;
	font-weight: thin;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	font-family: 'Lato', sans-serif; 
	font-size: 1em;
	line-height: 1em;
	font-weight: 300;
	display: inline-block;
	text-transform: uppercase;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#topnav {
	position: absolute;
	height: 40px;
	width: 100%;
	background-color: white;
}

img {
	display: block;
	margin: auto;
	vertical-align: middle;
	align-items: center;
	text-align: center;
}

.content {
	text-align: center;
}

p {
	font-family: 'Raleway', sans-serif;
}

h1, h2 {
	font-family: 'Lato', sans-serif;
	font-weight: thin;
	text-transform: uppercase;
}

.content {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 150px;
	margin-right: 150px;
	width: 800px;
	text-align: center;
	border: 2px solid #ADEAEA;
	border-radius: 4px;
	padding: 4px;
}

.toggle-box {
	display: none;
}

.toggle-box + label {
	cursor: pointer;
	display: block;
	font-weight: thin;
	font-family: 'Lato', sans-serif;
	line-height: 21px;
	margin-bottom: 5px;
	text-align: left;
}

.toggle-box + label + div {
	display: none;
	margin-bottom: 10px;
}

.toggle-box:checked + label + div {
	display: block;
}

.toggle-box + label:before {
  background-color: #388E8E;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
}