#logo {
	font-family: 'Lato', sans-serif; 
	font-size: 2em;
	line-height: 1em;
	font-weight: 300;
	text-align: center;
	color: #FFC0CB;
}

#navigation {
	width: 100%;
	background-color: #000000;
	opacity: 0.6;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

img {
	display: block;
	border-radius: 100%;
	height: 250px;
	width: 250px;
	float: left;
}


ul {

}

li {
	font-family: 'Lato', sans-serif; 
	font-size: 1em;
	line-height: 1em;
	font-weight: 300;
	display: inline-block;
	color: white;
	text-transform: uppercase;
	margin: 16px 20px;
}